@font-face {
    font-family: "Aurebesh";
    src: url("fonts/Aurebesh.eot");
    src:
        url("fonts/Aurebesh.woff") format("woff"),
        url("fonts/Aurebesh.otf") format("opentype"),
        url("fonts/Aurebesh.svg#filename") format("svg");
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/about_background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.font {
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    color: #fff;
    text-transform: lowercase;

    width: 1000px;
    box-shadow: 0 0 3px 0;
    background: #fff;
    padding: 20px;
    margin: auto;
    margin-top: 130px;
    text-align: center;
    background: black;
    color: white;
}

.font img {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -115px;
    margin-bottom: 20px;
}

.btn {
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    color: #fff;
    text-transform: lowercase;

    margin-top: 40px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    /* text */
    padding: 10px 24px;
    cursor: pointer;
    /* hand icon */
    margin: 0 -8;
    text-decoration: none;
}

.btn:hover {
    color: lightsalmon;
    /* text */
}

.team-section {
    overflow: hidden;
    text-align: center;
    padding: 60px;
    text-transform: lowercase;
}


.team-section h1 {
    text-transform: uppercase;
    margin-bottom: 40px;
    color: yellow;
    font-size: 40px;
}

.border {
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: #3498db;
    margin-bottom: 40px;
}

.staff {
    margin-bottom: 40px;
}

.staff a

/* crew */
    {
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}

.staff a img {
    width: 200%;
    /* modifier pour que ce soit bien cerclé */
}

.section h1 {
    text-align: center;
    color: yellow;
}

.section {
    width: 600px;
    margin: auto;
    text-align: justify;
    font-size: 20px;
}

.packages {
    text-align: center;
}
