body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/bookingform_backgroundimage.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@font-face {
    font-family: "Aurebesh";
    src: url("fonts/Aurebesh.eot");
    src:
        url("fonts/Aurebesh.woff") format("woff"),
        url("fonts/Aurebesh.otf") format("opentype"),
        url("fonts/Aurebesh.svg#filename") format("svg");
}

.font {
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    text-transform: lowercase;
}

.font img {
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-group {
    margin: 0 210;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: 380px;
}

.btn {
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    text-transform: lowercase;
    margin-top: 40px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    /* text */
    padding: 10px 24px;
    cursor: pointer;
    /* hand icon */
    text-decoration: none;
}

.btn:hover {
    color: lightsalmon;
    /* text */
}

.booking-form-box {
    max-width: 350px;
    /* taille de */
    border: 1px solid #ced4da;
    /* light grey */
    margin: 0% auto 0;
    padding: 2px;
    background: black;
}

h3 {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
}

.booking-form {
    padding: 0 20px 20px;
    /* haut cotés bas */
    text-align: center;
    margin-top: 20px;
    font-family: sans-serif;
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
}

.booking-form label {
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 12px;
    color: yellow;
}

.form-control {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}

.form-control-g {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
    background-color: #cccccc;
}

.showflights {
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 20px 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #a52008;
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    text-transform: lowercase;
}

.input-grp {
    margin-top: 20px;
}
