body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/register_background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@font-face {
    font-family: "Aurebesh";
    src: url("fonts/Aurebesh.eot");
    src:
        url("fonts/Aurebesh.woff") format("woff"),
        url("fonts/Aurebesh.otf") format("opentype"),
        url("fonts/Aurebesh.svg#filename") format("svg");
}

.font img {
    width: 170px;
    float: left;
    margin-left: 40px;
}

.font {
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    text-transform: lowercase;
}

h1 {
    color: white;
    margin-left:449px;
    margin-top:30px;
}

.form {
    width: 600px;
    box-shadow: 0 0 3px 0;
    background: black;
    padding: 20px;
    margin: auto;
    text-align: center;
    color: yellow;
    margin-top: 100px;
}

.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
    text-align: center;
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    text-transform: lowercase;
}

.submit {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
    background-color: #a52008;
    color: lightgrey;
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    text-transform: lowercase;
}

.submit:hover {
    color: lightsalmon;
}
