@font-face {
    font-family: "Aurebesh";
    src: url("fonts/Aurebesh.eot");
    src:
        url("fonts/Aurebesh.woff") format("woff"),
        url("fonts/Aurebesh.otf") format("opentype"),
        url("fonts/Aurebesh.svg#filename") format("svg");
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/flightconfirmation_background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

.font {
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    background: black;
    color: #fff;
}

.font img {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: -40px;
}

.btn {
    margin-top: 40px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    /* text */
    padding: 10px 24px;
    cursor: pointer;
    /* hand icon */
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    background: black;
    color: #fff;
    text-decoration: none;
}

.btn:hover {
    color: lightsalmon;
    /* text */
}

.btn-group {
    margin-top: 60px;
    margin-left: 670px;
    margin-bottom: -60px;
}


.yesno1 {
    margin-top: 40px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    /* text */
    padding: 10px 24px;
    cursor: pointer;
    /* hand icon */
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    background: black;
    color: #fff;

    margin: 0 250px;
    margin-top: 30px;
    margin-bottom: 100px;
    text-decoration: none;
}

.yesno1:hover {
    color: lightsalmon;
    /* text */
}

.yesno2 {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    /* text */
    padding: 10px 24px;
    cursor: pointer;
    /* hand icon */
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    background: black;
    color: #fff;

    margin: 0 250px;
    margin-top: 80px;
    text-decoration: none;
}

.yesno2:hover {
    color: lightsalmon;
    /* text */
}

.confirmation {
    text-align: center;
    margin-top: 60px;
}

.confirmation h1 {
    color: yellow;
}

.flightconfirmation {
    border: 1px solid grey;
    /* encadrement du tableau */
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    border-spacing: 5px;
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    background: black;
    color: #fff;
}

.flightconfirmation tr:nth-child(even) {
    background-color: brown;
}

.flightconfirmation th {
    color: white;
    background-color: black;
}
