@font-face {
    font-family: "Aurebesh";
    src: url("fonts/Aurebesh.eot");
    src:
        url("fonts/Aurebesh.woff") format("woff"),
        url("fonts/Aurebesh.otf") format("opentype"),
        url("fonts/Aurebesh.svg#filename") format("svg");
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/flightresults_background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.font {
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    background: black;
    color: #fff;
}

.font img {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: -40px;
}

.btn {
    margin-top: 40px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    /* text */
    padding: 10px 24px;
    cursor: pointer;
    /* hand icon */
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    background: black;
    color: #fff;
    text-decoration: none;
}

.btn:hover {
    color: lightsalmon;
    /* text */
}

.btn-group {
    margin: 0 219px;
    margin-top: 80px;
    margin-bottom: -60px;
    margin-left: 400px;
}

.flightresults {
    margin-top: 150px;
    border: 1px solid grey;
    /* encadrement du tableau */
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    border-spacing: 5px;
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    background: black;
    color: #fff;
}

.flightresults tr:nth-child(even) {
    background-color: brown;
}

.flightresults tr:nth-child(odd) {
    background-color: maroon;
}

.flightresults th {
    color: yellow;
    background-color: black;
}

.h1 {
    color: white;
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    margin-top: 100px;
    margin-bottom: -90px;
    display: block;
    margin-left: 621px;
    margin-right: 621px;
}

.btnblue {
    color: yellow;
}

.else {
    color: white;
    margin-top: 80px;
    margin-left: 593px;
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
}
