* {
    padding: 0;
    margin: 0;
}


@font-face {
    font-family: "Aurebesh";
    src: url("fonts/Aurebesh.eot");
    src:
        url("fonts/Aurebesh.woff") format("woff"),
        url("fonts/Aurebesh.otf") format("opentype"),
        url("fonts/Aurebesh.svg#filename") format("svg");
}

.font {
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    text-transform: lowercase;
    text-decoration: none;
}

.header {
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/index_backgroundimage.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 20px;
    /* cela permet de descendre les boutons de 20px depuis le haut */
    text-align: center;
    /* cela aligne le texte du header */
    color: #fff
        /* couleur du texte */
}

.header img {
    width: 170px;
    float: left;
    margin-left: 40px;
}

.managebooking {
    width: 300px;
    /* signifie largeur */
    padding: 8px 0;
    /* signifie hauteur hautbas gauchedroite, 0 pour que Login soit centré dans le bouton */
    border: 2px solid #fff;
    /* #fff is white */
    border-radius: 50px;
    /* effet d'arrondi*/
    background: transparent;
    color: #fff;
    /* couleur du mot Login */
    float: right;
    /* positionnement à droite */
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    text-transform: lowercase;
    margin-right: 40px;
    text-decoration: none;
}

.managebooking:hover {
    color: lightsalmon;
    /* text */
}

.login-btn {
    width: 100px;
    /* signifie largeur */
    padding: 8px 0;
    /* signifie hauteur hautbas gauchedroite, 0 pour que Login soit centré dans le bouton */
    border: 2px solid #fff;
    /* #fff is white */
    border-radius: 50px;
    /* effet d'arrondi*/
    background: transparent;
    color: #fff;
    /* couleur du mot Login */
    float: right;
    /* positionnement à droite */
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    text-transform: lowercase;
    margin-right: 40px;
    text-decoration: none;
}

.register-btn {
    width: 100px;
    /* signifie largeur */
    padding: 8px 0;
    /* signifie hauteur hautbas gauchedroite, 0 pour que Login soit centré dans le bouton */
    outline: none !important;
    border: 2px solid #fff;
    /* #fff is white */
    border-radius: 50px;
    /* effet d'arrondi*/
    background: transparent;
    color: #fff;
    /* couleur du mot Login */
    float: right;
    /* positionnement à droite */
    margin-right: 10px;
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    text-transform: lowercase;
    text-decoration: none;
}

.login-btn:hover {
    color: lightsalmon;
}

.register-btn:hover {
    color: lightsalmon;
}

.header h1

/* Titre Travel across the Stars + <p> car lié */
    {
    padding-top: 160px;
    padding-bottom: 0px;
    font-size: 55px;
    margin: 0 344;
}

.header p

/* il s'agit du texte secondaire */
    {
    margin-top: 20px;
    margin-bottom: 40px;
    /* distance par rapport au titre principal */
}

.searchflightbutton

/* button Search Flights */
    {
    border-radius: 20px;
    padding: 10px;
    width: 10%;
    border: 1px solid #b62c19;
    outline: none;
    background-color: #b62c19;
    color: white;
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    text-transform: lowercase;
    margin-top: 60px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
}

.searchflightbutton:hover {
    color: lightsalmon;
}

/* new section : features */

.features

/* juste la section*/
    {
    padding: 100px 0;
    /* va de paire avec padding-bottom d'après */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/index_wallpaper.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

h1

/* cette fois-ci le texte "Featured Destinations */
    {
    text-align: center;
    padding-bottom: 60px;
    /* combien de place on laisse en bas ? */
}

.feature-img img

/* image 1.jpg */
    {
    width: 100%;
}

.column {
    float: left;
    width: 33.33%;
    margin-top: 60px;
    background: white;
    color: black;
}

.feature-img

/* image1-2-3.png */
    {
    position: absolute;
    /* because there are several images */
    width: 30%;
    margin-left: 25px;
    margin-right: 25px;
}

.feature-img img {
    border-radius: 8%;
    margin-top: -70px;
}

.rating {
    padding: 3px;
    float: right;
    /* position */
    background: #fff;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.features .fa

/* for the rating stars (fa is the fa-star */
    {
    font-size: 15px;
    color: #b62c19;
}

.features h1 {
    margin-top: -70px;
    margin-bottom: -80px;
}

.feature-details {
    padding: 20px;
    text-align: justify;
    margin-top: 300px;
}

.feature-details h4 {
    font-weight: 600;
    margin-top: 20px;
}

.feature-details .fa {
    margin-right: 5px;
    margin-left: 8px;
}

.feature-box {
    margin-bottom: 18px;
    margin-top: 130px;
}

.banner {
    margin-top: 580px;
    margin-bottom: -100px;
    height: 80%;
    background-image: url(../images/index_banner.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 13%;
    /* moving the banner inside the image */
}

.banner-highlights {
    padding: 70px 0;
    background: rgba(0, 0, 0, 0.5);
    /* last component is transparency of the banner*/
    text-align: center;
    color: #fff;
}

.booking-btn

/* same as login-btn */
    {
    width: 150px;
    /* signifie largeur */
    padding: 8px 0;
    /* signifie hauteur hautbas gauchedroite, 0 pour que Login soit centré dans le bouton */
    border: 2px solid #fff;
    /* #fff is white */
    border-radius: 50px;
    /* effet d'arrondi*/
    background: transparent;
    color: #fff;
    /* couleur du mot Login */
    margin-top: 50px;
    /* for mobile */
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    text-transform: lowercase;
    text-decoration: none;
}

.booking-btn:hover {
    color: lightsalmon;
}

.users-feedback

/* text "Users reviews" */
    {
    padding: 100px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/index_wallpaper.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.columnr {
    float: left;
    width: 33.33%;
    margin-top: 60px;
    background: black;
    color: white;
}

.user-review

/* title */
    {
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 100, 0.2);
    padding-bottom: 50px;
}

.users-feedback h1 {
    margin-top: -70px;
    margin-bottom: -80px;
}

.user-review p

/* review */
    {
    padding: 50px 10px 10px 10px;
}

.users-feedback img {
    width: 80px;
    height: 80px;
    border-radius: 15%;
    position: absolute;
    margin-left: 223px;
    margin-top: -20px;
}

.column3 {
    float: left;
    width: 25%;
    margin-top: 130px;
    background: transparent;
    color: white;
    margin-bottom: 50px;
}

.footer {
    margin-top: 200px;
    padding: 100px 20px 15px;
    background-image: linear-gradient(black, #400040);
    color: #fff;
}

.footer-logo {
    width: 150px;
    margin-bottom: 15px;
    margin-left: -200px;
}

.footer h4 {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
}

.footer p {
    font-size: 12px;
    text-align: justify;
    padding-right: 35px;
}

.footer .row .fa {
    padding-right: 20px;
    font-size: 15px;
}

.footer hr {
    margin-top: 10px;
    background: #efefef;
    /* une sorte de gris */
}

.fa-heart {
    margin: 0 5px;
    color: #fff;
}

.footer .copyright {
    text-align: center;
}

.btn {
    margin-top: 100px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    /* text */
    padding: 10px 24px;
    cursor: pointer;
    /* hand icon */
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    text-transform: lowercase;
    text-decoration: none;
}

.btn:hover {
    color: lightsalmon;
    /* text */
}

.btn-group {
    margin-top: 70px;
}

.videosection h1 {
    margin-top: -20px;
    margin-bottom: 20px;
}

.videosection {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/index_background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 80%;
}

.videosection video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
}
