@font-face {
font-family: "Aurebesh";
src: url("fonts/Aurebesh.eot");
src: 
url("fonts/Aurebesh.woff") format("woff"),
url("fonts/Aurebesh.otf") format("opentype"),
url("fonts/Aurebesh.svg#filename") format("svg");
}

.font
{
    font-family: 'Aurebesh';
    font-weight:100;
    font-style:normal;
	text-transform:lowercase;
}

body
{
    margin:0;
    padding:0;
    font-family:sans-serif;
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(../images/login_background.jpg);
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
}
.login-form
{
    width:300px;
    box-shadow:0 0 3px 0;
    background:#fff;
    padding: 20px;
    margin:auto;
    margin-top:90px;
    text-align:center;
    background:black;
    color:yellow;
}

.input-box
{
    border-radius:20px;
    padding:10px;
    margin:10px 0;
    width:100%;
    border:1px solid #999;
    outline:none;
}

button
{
    color: #fff;
    width:100%;
    padding: 10px;
    border-radius:20px;
    font-size:15px;
    margin:10px 0;
    border: none;
    outline:none;
    cursor:pointer;
}

a /* sign in du bas */
{
    text-decoration: none; /* pour virer le souligné */
}

img
{
    width:140px;
    margin-top:-80px;
}

.login-btn
{
    font-family: 'Aurebesh';
    font-weight:100;
    font-style:normal;
	text-transform:lowercase;
    text-decoration: none;
    background-color:#a52008;
}

.login-btn:hover
{
    color:lightsalmon;
}

.yellow
{
    color:yellow;
    text-decoration: underline;
}

.btn {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    /* text */
    padding: 10px 24px;
    cursor: pointer;
    /* hand icon */
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    background: black;
    color: #fff;

    margin: 0 50px;
    margin-top: 80px;
    text-decoration: none;
}

.btn:hover {
    color: lightsalmon;
    /* text */
}
