@font-face {
    font-family: "Aurebesh";
    src: url("fonts/Aurebesh.eot");
    src:
        url("fonts/Aurebesh.woff") format("woff"),
        url("fonts/Aurebesh.otf") format("opentype"),
        url("fonts/Aurebesh.svg#filename") format("svg");
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/ourfleet_wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.font {
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    text-transform: lowercase;
}

.font img {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: -40px;
}

.btn {
    margin-top: 40px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    /* text */
    padding: 10px 24px;
    cursor: pointer;
    /* hand icon */
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    background: black;
    color: #fff;
    text-decoration: none;
}

.btn:hover {
    color: lightsalmon;
    /* text */
}

.btn-group {
    margin: 0 380px;
    margin-top: 70px;
    margin-bottom: -30px;
}

.ourfleet,
.fcabobop {
    text-align: center;
}


.column1 {
    float: left;
    width: 45%;
    text-align: center;
    margin-left: 83px;
}

.column2 {
    float: left;
    width: 45%;
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column1 img {
    width: 50%;
    border-radius: 7%;
    margin-bottom: 5px;
}

.column2 img {
    width: 50%;
    border-radius: 7%;
    margin-bottom: 5px;
}

.fcabobop img {
    width: 50%;
}

.ourfleet h1 {
    color: yellow;
}

.column1 h3 {
    color: yellow;
}

.column2 h3 {
    color: yellow;
}

.fcabobop h1 {
    color: yellow;
}
