body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/safety_background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

img {
    width: 140px;
    margin-top: 20px;
    margin-bottom: -5px;
}

.btn {
    margin-top: 40px;
    background-color: transparent;
    border: 1px solid white;
    color: yellow;
    /* text */
    padding: 10px 24px;
    cursor: pointer;
    /* hand icon */
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    background: black;
    color: #fff;
    text-decoration: none;
}

.btn:hover {
    color: lightsalmon;
    /* text */
}

.btn-group {
    margin: 0 219px;
    margin-top: 60px;
}

@font-face {
    font-family: "Aurebesh";
    src: url("fonts/Aurebesh.eot");
    src:
        url("fonts/Aurebesh.woff") format("woff"),
        url("fonts/Aurebesh.otf") format("opentype"),
        url("fonts/Aurebesh.svg#filename") format("svg");
}

.font,
.dropdown-toggle {
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    text-transform: lowercase;
    text-align: center;
}

.dropdown {
    display: none;
}


.dropdown-toggle {
    display: inline-block;
    width: 100%;
    border: solid 1px white;
    border-radius: 10px;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: yellow;
    background-color: black;
}
