@font-face {
    font-family: "Aurebesh";
    src: url("fonts/Aurebesh.eot");
    src:
        url("fonts/Aurebesh.woff") format("woff"),
        url("fonts/Aurebesh.otf") format("opentype"),
        url("fonts/Aurebesh.svg#filename") format("svg");
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/thankyou_background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

.font {
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    background: black;
    color: #fff;
}

.font img {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: -40px;
}

.btn {
    margin-top: 40px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    /* text */
    padding: 10px 24px;
    cursor: pointer;
    /* hand icon */
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    background: black;
    color: #fff;
    text-decoration: none;
}

.btn:hover {
    color: lightsalmon;
    /* text */
}

.btn-group {
    margin: 0 654px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.thankyou {
    text-align: center;
    margin-top: 60px;
}

.encadre {
    border: 1px solid white;
    margin: 0 200px;
    color: yellow;
}

.yellow {
    color: yellow;
}

.trecap {
    border: 1px solid grey;
    /* encadrement du tableau */
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    border-spacing: 5px;
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    background: black;
    color: #fff;
}

.trecap tr:nth-child(even) {
    background-color: brown;
}

.trecap th {
    color: yellow;
    background-color: black;
}

.pdetails {
    margin-top: -20px;
    border: 1px solid grey;
    /* encadrement du tableau */
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    border-spacing: 5px;
    font-family: 'Aurebesh';
    font-weight: 100;
    font-style: normal;
    background: black;
    color: #fff;
}

.pdetails tr:nth-child(even) {
    background-color: darkblue;
}

.pdetails tr:nth-child(odd) {
    background-color: darkmagenta;
}

.pdetails th {
    color: yellow;
    background-color: black;
}
