﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */ @font-face {font-family:"Aurebesh Normal";src:url("Aurebesh.eot?") format("eot"),url("Aurebesh.woff") format("woff"),url("Aurebesh.ttf") format("truetype"),url("Aurebesh.svg#AurebeshNormal") format("svg");font-weight:normal;font-style:normal;}
